body {
  font-family: arial;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.backgroundBlueGrad {
  background: #0c113d;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #0c113d 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #0c113d), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #0c113d 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #0c113d 0%, black 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #0c113d 0%, black 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #0c113d 0%, black 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c113d', endColorstr='#000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.canvasBox {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
  overflow: hidden;
}

canvas {
  position: absolute;
  display: block;
  z-index: 10;
  border: 1px solid #000;
}

#gameMenuContainer {
  width: 100%;
  height: 100%;
  position: absolute;
}
#gameMenuContainer.open {
  left: 0;
  z-index: 20;
}
#gameMenuContainer.closed {
  left: -100%;
  z-index: 0;
}

#gameMenuContainer .panel {
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
  background-color: #111;
  transition: all 0.5s ease-out;
}
#gameMenuContainer .panel.on {
  opacity: 1;
  z-index: 30;
  transition: all 0.5s ease-out;
}
#gameMenuContainer .panel.off {
  opacity: 0;
  z-index: 20;
  transition: all 0.5s ease-out;
}

#startScreen a, #gameTypeMenu a, #gameInstructions a {
  display: block;
  font-size: 2em;
  color: #fff;
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: 10%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
#startScreen a:hover, #gameTypeMenu a:hover, #gameInstructions a:hover {
  color: #f00;
}
#startScreen a.btnPos1, #gameTypeMenu a.btnPos1, #gameInstructions a.btnPos1 {
  left: 10%;
}
#startScreen a.btnPos2, #gameTypeMenu a.btnPos2, #gameInstructions a.btnPos2 {
  left: 30%;
}
#startScreen a.btnPos3, #gameTypeMenu a.btnPos3, #gameInstructions a.btnPos3 {
  right: 30%;
}
#startScreen a.btnPos4, #gameTypeMenu a.btnPos4, #gameInstructions a.btnPos4 {
  right: 10%;
}

.playerControls {
  display: block;
  position: fixed;
  font-size: 20px;
  line-height: 25px;
  z-index: 20;
  color: #fff;
  width: 300px;
  height: auto;
  margin-top: 20px;
  left: 50%;
  margin-left: -150px;
}
